@import "home";

.cart-list {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  width: 350px;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  border: 1px solid #e7e7e7;
  box-shadow: rgb(0 0 0 / 20%) 0px 8px 24px;
  border-top: 0;
  transform: translateX(100%);
  transition: transform 0.5s ease-out;

  .cart-close {
    padding: 16px 10px;
    button {
      background-color: transparent;
      border: 0;
      cursor: pointer;
    }
  }

  .cart-empty-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
  }

  .cart-summary {
    display: flex;
    flex-direction: column;
    padding: 16px;
    font-weight: bold;
    font-size: 15px;
    > span:nth-child(2) {
      color: $branding-color;
      padding: 0.4rem 0;
    }

    .cart-checkout {
      display: flex;
      justify-content: space-between;
      border-radius: 20px;
      margin: 16px;
      width: 100%;
      background-color: $branding-color;
      color: white;
      font-weight: 600;
      font-size: 15px;
      padding: 0.7rem 1.3rem;
      letter-spacing: $letter-spacing;
      align-self: center;
      cursor: pointer;
    }
  }
}

.cart-container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 2rem;
  padding: 16px;
  border-bottom: $borderline;

  > span {
    font-size: 15px;
    font-weight: 500;
  }

  .product-col-left-subtitle {
    margin-top: 0;
    font-weight: 600;
  }

  .product-col-left-buttons {
    display: flex;

    > button {
      border-radius: 60px;
      background-color: transparent;
      border: $borderline;
      padding: 5px 2px;
      margin-right: 5px;

      svg {
        height: 15px;
      }
    }
  }
}

.active {
  transition: transform 0.5s ease-in;
  transform: translateX(0%);
}
